.App {
  text-align: center;
}
.emoji-div{
  display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

h2{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
  padding: 10px 15px;
  border-radius: 5px;
}
hr{
  margin-top: 25px;
}